.topbar{
height:50px;
width:100%;
background-color: #fffefe;

}
.container1{
  background-color: #fffefe;
  height:100%;
  width:100%;

}
.container2{
  background-color: #e0dfdf;
  height:100%;
  width:90%;
  margin-left:14%;
  border:2px solid #e0dfdf;;
}
#container3{
  background-color:  #fffefe;
  height:100%;
  width:98%;
 margin-top:15px;
 margin-left:10px;
 font-size: 10px;
}
 #heading{
   margin-bottom:-1px;
 }
 .adj{
width:130px;
   
 }
 .adj1{
   width:150px;
 }
 .adj2{
  width:40px;
}
.adjimg{
  width:50px;
  height:50px;
}
button{
  border-radius: 10px;
  width:50px;
  background-color: rgb(172, 35, 172);
  color:white;
  
}
button:active{
  transform: translateY(3px);
}
button:focus{
outline: none;
}
.btn2{
  width:100px;
  float:right;
  margin-top:-20px;
  margin-bottom:20px;
  margin-right:8px;
  font-size: 9px;

}
#subhead{
  font-size:12px;
  margin-left:5px;
}
input{
  width:80px;
}